<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sales_partner">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrdersEditActivity" />
        <activity android:name=".reports.SimPriceActivity" />
        <activity android:name=".reports.SimDateActivity" />
        <activity android:name=".reports.SimCustomerActivity" />
        <activity android:name=".reports.ReportsSimActivity" />
        <activity android:name=".reports.ReportsSalesActivity" />
        <activity android:name=".reports.ReportsProductsActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".OrdersDetailActivity" />
        <activity android:name=".OrdersAddActivity" />
        <activity android:name=".AssembliesActivity" />
        <activity android:name=".ClientsActivity" />
        <activity android:name=".ClientsAddActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>


</manifest>